.bg {
  width: 100%;
  height: 1080px;
  padding: 0 21px;
  background-image: url('../../../public/screen/largeScreenbg.jpg');
  background-size: 100% 100%;
}
.title {
  height: 90px;
  color: #ffffff;
  font-size: 40px;
  line-height: 90px;
  text-align: center;
}
.box {
  background: url('../../../public/screen/box-bg-title.png') no-repeat center top;
  background-size: 100% 100%;
}
.circle {
  height: 500px;
}
.operation {
  margin-top: 20px;
  background: url('../../../public/screen/box-bg.png') no-repeat center top;
  background-size: 100% 100%;
}
.post {
  height: 400px;
  padding: 20px;
}
.centerBox {
  position: relative;
  height: 460px;
  background: url(../../../public/screen/box-bg-center-top.png) no-repeat center top;
  background-size: 100% 100%;
}
.tableBox {
  height: 440px;
  margin-top: 20px;
  background: url('../../../public/screen/box-bg-center-bottom.jpg') no-repeat center top;
  background-size: 100% 100%;
}
.circleTitle {
  height: 49px;
  color: #fefeff;
  font-size: 24px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}
.odd {
  color: #fff;
  background: #163c87;
}
.ocd {
  color: #fff;
  background: #142960;
}
.tagTitle {
  height: 50px;
  padding-left: 15px;
  color: #91a1e0;
  font-size: 22px;
  line-height: 50px;
}
div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  /**/
}
div::-webkit-scrollbar-track {
  background: rgb(49, 48, 124);
  border-radius: 2px;
}
div::-webkit-scrollbar-thumb {
  background: #5045b4;
  border-radius: 10px;
}
div::-webkit-scrollbar-thumb:hover {
  background: #333;
}
div::-webkit-scrollbar-corner {
  background: #179a16;
}
