.cardIcon {
    box-sizing: border-box;
    width: 60px;
    height: 40px;
    display: inline-block;
    border: 1px solid #f0f0f0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.5s;
}
.cardIcon:hover{
    box-shadow: 0 2px 7px 2px rgb(170, 165, 165);
}